$body_background_color: #212121;
$prompt_background_color: #23232e;
$panel_background_color: #171717;
$font_color: rgba(255, 255, 255, 0.808);
$main_font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$standard_border: 2px solid black;
$bubble_background_color: rgba(255, 255, 255, 0.103);
$border-white: 2px solid white;

//. ICON COLORS OF FOR MOBILE VERSION
$icon-color-one: #8BCEE8;
$icon-color-two: #DDC659;
$icon-color-three: #DC8951;
$icon-color-four: #C18DCC;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Optional: Prevent scrolling issues */
    background-color: $body_background_color;
}

/* Style for the panel container */
.panel {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background-color: $panel_background_color;
    overflow-x: hidden;
    padding-top: 20px;

    .panel-button {
        text-align: center;

        button {
            padding: 20px;
            margin-top: 0;
            text-align: left;
            border: 1px solid rgba(255, 255, 255, 0.479);
            background-color: #171725;
            width: 90%;
            border-radius: 5px;
            cursor: pointer;
            color: white;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #25253a;
        }
    }


    hr {
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }


    .config-settings {
        display: flex;
        flex-direction: column;
        text-align: center;

        .model {
            color: #B4B4B4;
            font-size: 14px;

            h1 {
                margin-bottom: 0;
            }

            p {
                margin-top: 0;
            }
        }


        .model-temp {
            display: flex;
            color: $font_color;
            font-size: 14px;
            flex-direction: column;
            width: 60%;
            margin: auto;
            margin-top: 10px;

            #slider-value {
                margin-top: 0;
            }
        }

        .tokens {
            display: flex;
            color: $font_color;
            font-size: 14px;
            flex-direction: column;
            width: 60%;
            margin: auto;
            margin-top: 10px;

            #slider-value2 {
                margin-top: 0;
            }

        }
    }

    #config {
        color: $font_color;
        font-family: $main_font;
        font-size: 20px;
        letter-spacing: 1px;
        text-align: center;
        margin-bottom: 0;
    }

}




#div1 {
    overflow: auto;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    width: 85%;
}


// Styles for the main content
// #main-content {
//     font-family: $main_font;
//     margin-left: 295px;
//     margin-top: 176px;
//     text-align: center;


//     h1 {
//         color: $font_color;
//     }
//     p {
//         margin-top: -20px;
//         color: $font_color;
//         font-size: 10px;
//     }
// }



.options {
    display: flex;
    width: 80%;
    margin: auto;
    display: none;


    .first {
        padding: 10px;

        i {
            color: $font_color;
            font-size: 35px;
            margin-top: 0;
        }

        h5 {
            margin-top: 5px;
            font-size: 20px;
            color: $font_color;
            margin-bottom: 5px;
        }

        .examples {
            padding: 5px;

            .ex1 {
                padding: 5px; 
                border-radius: 10px;
                margin-bottom: 10px;
                background-color: rgba(255, 255, 255, 0.103);
                cursor: pointer;

                h1 {
                    font-size: 12px;
                    font-weight: none;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }

            .ex1:hover {
                background-color: $panel_background_color;
            }

            .ex2 {
                padding: 5px; 
                border-radius: 10px;
                margin-bottom: 10px;
                background-color: rgba(255, 255, 255, 0.103);
                cursor: pointer;

                h1 {
                    font-size: 12px;
                    font-weight: none;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
            .ex2:hover {
                background-color: $panel_background_color;
            }


            .ex3 {
                padding: 5px; 
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.103);
                cursor: pointer;

                h1 {
                    font-size: 12px;
                    font-weight: none;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }
            .ex3:hover {
                background-color: $panel_background_color;
            }

        }
    }




    .second {
        padding: 10px;

        i {
            color: $font_color;
            font-size: 35px;
            margin-top: 0;
        }

        h5 {
            margin-top: 5px;
            font-size: 20px;
            color: $font_color;
            margin-bottom: 5px;
        }

        .examples {
            padding: 5px;

            .ex1 {
                background-color: rgba(255, 255, 255, 0.103);
                padding: 5px; 
                border-radius: 10px;
                margin-bottom: 10px;

                h1 {
                    font-size: 12px;
                    font-weight: none;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }

            .ex2 {
                background-color: rgba(255, 255, 255, 0.103);
                padding: 5px; 
                border-radius: 10px;
                margin-bottom: 10px;

                h1 {
                    font-size: 12px;
                    font-weight: none;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }


            .ex3 {
                background-color: rgba(255, 255, 255, 0.103);
                padding: 5px; 
                border-radius: 10px;

                h1 {
                    font-size: 12px;
                    font-weight: none;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }

        }
    }



    .third {
        border: $standard_border;
        padding: 10px;

        i {
            color: $font_color;
            font-size: 35px;
            margin-top: 0;
        }

        h5 {
            margin-top: 5px;
            font-size: 20px;
            color: $font_color;
            margin-bottom: 5px;
        }

        .examples {
            border: 2px solid rgb(0, 255, 149);
            padding: 5px;

            .ex1 {
                border: $standard_border;
                padding: 5px; 
                border-radius: 10px;
                padding-bottom: 10px;

                h1 {
                    font-size: 12px;
                    font-weight: none;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }

            .ex2 {
                border: $standard_border;
                padding: 5px; 
                border-radius: 10px;
                padding-bottom: 10px;

                h1 {
                    font-size: 12px;
                    font-weight: none;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }


            .ex3 {
                border: $standard_border;
                padding: 5px; 
                border-radius: 10px;

                h1 {
                    font-size: 12px;
                    font-weight: none;
                    font-family: Arial, Helvetica, sans-serif;
                }
            }

        }
    }
}







// Styles for the input field container
.text-input-prompt {
    font-family: $main_font;
    margin-left: 445px;
    width: 55%;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 230;


    .input-and-icon-container {
        
        #prompt {
            width: 85%;
            padding: 25px;
            background-color: $bubble_background_color;
            border: none;
            border-radius: 5px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
            color: white;
            font-size: 15px;
        }
        #prompt:focus {
            border: none;
            outline: none;
        }
    }

    .find-button {
        padding: 0.5em 1em;
        position: relative;
        overflow: hidden;
        top: 15px;
        color: $font_color;
        font-size: 17px;
        border-radius: 0.25em;
        border: none;
        cursor: pointer;
        background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23fff" d="M16.1 260.2c-22.6 12.9-20.5 47.3 3.6 57.3L160 376V479.3c0 18.1 14.6 32.7 32.7 32.7c9.7 0 18.9-4.3 25.1-11.8l62-74.3 123.9 51.6c18.9 7.9 40.8-4.5 43.9-24.7l64-416c1.9-12.1-3.4-24.3-13.5-31.2s-23.3-7.5-34-1.4l-448 256zm52.1 25.5L409.7 90.6 190.1 336l1.2 1L68.2 285.7zM403.3 425.4L236.7 355.9 450.8 116.6 403.3 425.4z"/></svg>') no-repeat center center / 1em 1em;
      }
    .find-button:hover {
        background-color: $panel_background_color;
    }


      

    h5 {
        margin-bottom: 0;
        font-size: 12px;
        color: $font_color;
    }

}





.tooltip {
display: none;
position: absolute;
z-index: 1;
padding: 5px;
margin-left: 100px;
border-right: 1px solid $panel_background_color;
padding: 5px;
color: $font_color;
background-color: $body_background_color;
}

label:hover .tooltip {
display: block;
}
  




.main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;


    .left-panel {
        padding: 10;
        width: 18%;
        height: 100%;
        background-color: #171717;

        .buttons {
            display: flex;
            justify-content: space-between;

            button {
                background-color: transparent;
                color: #B4B4B4;
                width: 21%;
                font-size: 22px;
                border: none;
                cursor: pointer;
                padding: 7;
                position: relative;
    
                &:hover {
                    background-color: #222222;
                    border-radius: 10px;
                }
            }
        }


        .panel-button {
            width: 69%;

            button {
                font-size: 20;
                width: 100%;
            }
        }

        hr {
            width: 90%;
            margin: auto;
            margin-top: 8;
            margin-bottom: 5;
        }

        .config-settings {
            display: flex;
            flex-direction: column;
            text-align: center;
    
            .model {
                color: #B4B4B4;
                font-size: 14px;
    
                h1 {
                    margin-bottom: 0;
                }
    
                p {
                    margin-top: 0;
                }
            }
    
    
            .model-temp {
                display: flex;
                color: #B4B4B4;
                font-size: 14px;
                flex-direction: column;
                width: 80%;
                margin: auto;
                margin-top: 10px;
    
                #slider-value {
                    margin-top: 0;
                }
            }
    
            .tokens {
                display: flex;
                color: #B4B4B4;
                font-size: 14px;
                flex-direction: column;
                width: 80%;
                margin: auto;
                margin-top: 10px;
    
                #slider-value2 {
                    margin-top: 0;
                }
    
            }
        }

        #config {
            color: #B4B4B4;
            font-family: $main_font;
            font-size: 20px;
            letter-spacing: 1px;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 11px;
        }


    }


    .word-gen-area {
        width: 82%;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            color: #B4B4B4;
            font-size: 30px;
            font-family: math;
            font-weight: bolder;
        }

        .yes {
            width: 66%;

            form {
                margin-bottom: 10;
                width: 100%;

                input {
                    margin-top: 14px;
                    width: 100%;
                    padding: 24px;
                    background-color: #2F2F2F;
                    border: none;
                    border-radius: 10px;
                    color: #d4d4d4;
        
                    &:focus {
                        outline: none;
                        border: none;
                    }
                }
    
            }

        }





        small {
            color: #B4B4B4;
            font-family: math;
            margin-top: 10;
        }
    }
}




.returnBanner {

    .return-buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;

        button {
            background-color: transparent;
            color: #B4B4B4;
            width: 21%;
            font-size: 22px;
            border: none;
            cursor: pointer;
            padding: 7;
            position: relative;
    
            &:hover {
                background-color: #222222;
                border-radius: 10px;
            }
        }
    }
}




.links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;

    a {
        margin-bottom: 10px;
        color: #B4B4B4;
        text-decoration: none;
        font-family: math;


        &:hover {
            text-decoration: underline;
        }
    }

    button {
        background-color: transparent;
        border: none;
        color: #B4B4B4;
        margin-bottom: 10px;
        cursor: pointer;
        font-size: 15px;
        font-family: math;

        &:hover {
            text-decoration: underline;
        }
    }
}




//. FOR THE PROJECT DETAILS DIV
.projectDetails_div {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.754);
    color: #B4B4B4;
    font-family: math;
    z-index: 50;


    .close_projectDetails {
        position: fixed;
        right: 6;
        width: 100%;
        text-align: end;

        button {
            padding: 0;
            font-size: 35px;
            width: 5%;
            background-color: transparent;
            color: white;
            border: none;
            cursor: pointer;
        }
    }


    .main-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #2F2F2F;
        padding: 30px;
        width: 65%;
        display: flex;
        flex-direction: column;
        row-gap: 23px;
        z-index: 100;

        ul {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            list-style-type: none;
            margin: 0;
            padding: 0;

            span {
                color: white;
            }
        }
    }

}





//. MOBILE BUTTONS 
.mobil-side {
    display: none;
    position: fixed;
    top: 10;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #B4B4B4;

    button {
        width: 12%;
        padding: 4px;
        font-size: 21px;
        background-color: transparent;
        border: none;
        color: #B4B4B4;
    }


    p {
        font-family: math;
    }


}




//. MOBILE BUTTONS
.mobile-buttons {
    display: none;

}



#mobile-buttons1ID {
    display: none;
    justify-content: center;

    button {
        background-color: transparent;
        width: 27%;
        padding: 4px;
        font-size: 21px;
        border: 1px solid white;
        color: #B4B4B4;
        margin-left: 13px;
        border-radius: 10px;
    }
}

.mobileMenu {
    position: fixed;
    right: 0;
    top: 0;
    right: 9px;
    top: 40px;
    background-color: #393939;
    padding: 10;

    .lists {
        background-color: #393939;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        font-family: math;
    }

    a {
        color: white;
        text-decoration: none;
        margin-bottom: 13px;
    }

}


@media(max-width:500px) {
    .left-panel {
        display: none;
    }

    .mobil-side {
        display: flex;
    }


    .mobile-buttons {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin-top: 30px;


        button {
            background-color: transparent;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid white;
            margin-left: 8px;
            color: #B4B4B4;
        }
    }


    .main-content {

        .word-gen-area {
            width: 100%;


            .yes {
                height: 100%;
                padding-top: 130px;
                width: 100%;


                form {
                    position: fixed;
                    bottom: 25;

                    input {
                        width: 97%;
                        padding: 31px;
                        margin-bottom: 5px;
                    }
                }


                small {
                    position: fixed;
                    bottom: 4;
                    width: 100%;
                    left: 0;
                }
            }
        }
    }



    #icon1 {
        color: $icon-color-one;
    }

    #icon2 {
        color: $icon-color-two;
    }

    #icon3 {
        color: $icon-color-three;
    }

    #icon4 {
        color: $icon-color-four;
    }

    
    #div1 {
        overflow: auto;
        display: flex;
        flex-direction: column;
        margin-top: 22px;
        width: 85%;
        position: absolute;
        top: 41px;
        height: 100%;
    }

}